.center-text {
    text-align: center;
}

.centerButton {
    display: flex;
    /* Enables CSS flexbox */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
}

.beginTestButton {
    padding: 10px 10px;
    font-size: 20px;
}