.mainBody {
    padding: 100px;
}

.linePadding {
    width: 50%;
}

.center-text {
    text-align: center;
}

.informationHeader {
    display: inline-block;
    font-size: 1.35rem;
    margin-bottom: 10px;
}

.instructionsText {
    font-size: 1.1rem;
}

.centerButton {
    display: flex;
    /* Enables CSS flexbox */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
}

.beginTestButton {
    padding: 10px 10px;
    font-size: 20px;
}
